{{template "header.html" .}}
<div id="mainLayout" class="mini-layout" style="width:100%;height:100%;">
    <div region="north" height="75" showspliticon="false" showheader="false" style="background-color: #e6e7e8">
        <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#e6e7e8" border="0">
            <tr style="height:66px">
                <td rowspan="2" style="width:414px;height:66px; vertical-align:top"></td>
                <td style="vertical-align: top; width: 207px;"></td>
                <td colspan="3" style="text-align:right;vertical-align:bottom">
                    <table style="width: 100%; background-color: transparent">
                        <tr>
                            <td style="width:100%;">
                                <a class="mini-menubutton" plain="true" iconcls="icon-user" menu="#popupMenu">郑乾通</a>
                                <a class="mini-button" iconcls="icon-help" plain="true" onclick="ChangeUser()">切换用户</a>
                                <a class="mini-button" iconcls="icon-help" plain="true" onclick="Help()">系统帮助</a>
                                <span>选择皮肤：</span>
                                <select id="selectSkin" onchange="onSkinChange(this.value)" style="width:100px;">
                                    <option value="">Default</option>
                                    <option value="blue">Blue</option>
                                    <option value="gray">Gray</option>
                                    <option value="olive2003">Olive2003</option>
                                    <option value="blue2003">Blue2003</option>
                                    <option value="blue2010">Blue2010</option>
                                    <option value="bootstrap">Bootstrap</option>
                                    <option value="metro">metro</option>
                                    <option value="metro-green">metro-green</option>
                                    <option value="metro-orange">metro-orange</option>
                                    <option value="jqueryui-uilightness">jqueryui-uilightness</option>
                                    <option value="jqueryui-humanity">jqueryui-humanity</option>
                                    <option value="jqueryui-excitebike">jqueryui-excitebike</option>
                                    <option value="jqueryui-cupertino">jqueryui-cupertino</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <ul id="popupMenu" class="mini-menu" style="display:none;">
                        <li iconcls="icon-user" onclick="OnMenuClick('user')">用户信息</li>
                        <li class="separator"></li>
                        <li iconcls="icon-filter" onclick="OnMenuClick('psw')">修改密码</li>
                        <li class="separator"></li>
                        <li iconcls="icon-downgrade" onclick="OnMenuClick('out')">安全退出</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div region="west" width="200" expanded="true" showspliticon="true" showheader="false"></div>
    <div region="center" style="border-width:0;overflow:hidden ">
        <div id="mainTabs" class="mini-tabs bg-toolbar" activeindex="0" style="width:100%;height:100%;" borderstyle="padding:0"
             onactivechanged="onTabsActiveChanged"></div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
