{{template "header.html" .}}
<div class="mini-splitter" vertical="false" style="width:100%;height:100%;" borderstyle="border:0;">
    <div size="200px">
        <div class="mini-splitter" allowresize="false" vertical="true" style="width:100%;height:100%;" borderstyle="border:0;">
            <div size="30px">
                <div class="mini-toolbar" borderstyle="border:0;">
                    <a class=" mini-button" iconcls="icon-add" onclick="OpenDepAdd()">增加</a>
                    <a class="mini-button" iconcls="icon-edit" onclick="OpenDepEdit()">修改</a>
                    <a class="mini-button" iconcls="icon-remove" onclick="deleteDep()">删除</a>
                </div>
            </div>
            <div>
                <ul id="treeDep" class="mini-tree" style="width:100%;padding:5px;" onnodeclick="onDepSelect" url="/System/DepTree"
                        showtreeicon="true" parentfield="ParentID" textfield="Name" idfield="ID" resultastree="false"></ul>
            </div>
        </div>
    </div>
    <div>
        <div class="mini-splitter" allowresize="false" vertical="true" style="width:100%;height:100%;" borderstyle="border:0;">
            <div size="30px">
                <div class="mini-toolbar" borderstyle="border:0;">
                    <a class=" mini-button" iconcls="icon-add" onclick="OpenUserAdd()">增加</a>
                    <a class="mini-button" iconcls="icon-edit" onclick="OpenUserEdit()">修改</a>
                    <span class="separator"></span>
                    <input  id="txtKey" class="mini-textbox"  />
                    <a class="mini-button" plain="true" onclick="SelectUser()">查询</a>
                </div>
            </div>
            <div>
                <div id="gridUser" class="mini-datagrid" style="width:100%;height:100%;border:0px" borderstyle="border:0;" allowresize="false"
                         url="/System/UserSelect" idfield="UserID" multiselect="false">
                    <div property="columns">
                        <div field="LoginName" width="120" headeralign="center">员工帐号</div>
                        <div field="UserName" width="120" headeralign="center" >姓名</div>
                        <div field="JobNumber" width="120" headeralign="center" >工号</div>
                        <div field="Mobilephone" width="120" headeralign="center" >手机号</div>
                        <div type="comboboxcolumn" field="DepID" width="120">
                            所属部门
                            <input property="editor" class="mini-combobox" style="width:100%;" url="/System/DepTree"  textField="Name" valueField="ID"/>
                        </div>
                        <div field="Email" width="100">邮箱</div>
                        <div field="IsUse" width="80">是否启用</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="viewDep" class="mini-window" style="display:none;width:400px; height:300px" showshadow="true" showfooter="true" showmodal="true" allowresize="false" allowdrag="true">
    <form id="formDep">
        <table class="FormTable" cellspacing="1" style=" width:100%" border="0">
            <tr>
                <td style="width:30%;min-width:100px;text-align:right">部门名称：</td>
                <td>
                    <input id="hidDepId" name="ID" class="mini-hidden" />
                    <input id="txtName" name="Name" class="mini-textbox" required="true" />
                </td>
            </tr>

            <tr>
                <td style="width:30%;min-width:100px;text-align:right">部门编码：</td>
                <td>
                    <input id="txtDepCode" name="Code" class="mini-textbox" required="true" />
                </td>
            </tr>
            <tr>
                <td style="width:30%;min-width:100px;text-align:right">上级部门：</td>
                <td>
                    <span id="spanParentName"></span>
                    <input id="txtParentId" name="ParentID" class="mini-hidden" />
                </td>
            </tr>
            <tr>
                <td style="width:30%;min-width:100px;text-align:right">部门经理：</td>
                <td>
                    <input id="txtManger" name="Manager" class="mini-textbox" required="true" />
                </td>
            </tr>
            <tr>
                <td style="width:30%;min-width:100px;text-align:right">是否启用：</td>
                <td>
                    <input id="txtIsUse" name="IsUse" class="mini-checkbox" text="启用" value="true" truevalue="true" falsevalue="false" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <a id="depAdd" class=" mini-button" iconcls="icon-add" onclick="AddDep()">添加</a>
                    <a id="depSave" class=" mini-button" iconcls="icon-edit" onclick="EditDep()">保存</a>
                    <a class=" mini-button" iconcls="icon-close" onclick="HideWin(winDep)">取消</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="viewEmp" class="mini-window" style="display:none;width:600px; height:300px" showshadow="true" showfooter="true" showmodal="true" allowresize="false" allowdrag="true">
    <table class="FormTable" id="formUser" style="width:100%" border="0" cellpadding="0" cellspacing="1">
        <tr>
            <td style="width:100px;">登录账号：</td>
            <td>
                <input id="txtLoginName" name="LoginName" class="mini-textbox" required="true" />
                <input id="txtUserID" name="UserID" class="mini-hidden" required="true" />
            </td>
            <td style="width:100px">员工工号：</td>
            <td>
                <input id="txtJobNumber" name="JobNumber" class="mini-textbox" required="true" />
            </td>
        </tr>
        <tr>
            <td style="width:100px;">员工姓名：</td>
            <td>
                <input id="txtUserName" name="UserName" class="mini-textbox" required="true" />
            </td>
            <td style="width:100px">英文名字：</td>
            <td>
                <input id="txtEngName" name="EngName" class="mini-textbox" />
            </td>
        </tr>
        <tr>
            <td style="width:100px;">中文拼音：</td>
            <td>
                <input id="txtPinYin" name="PinYin" class="mini-textbox" required="true" />
            </td>
            <td style="width:100px;">拼音缩写：</td>
            <td>
                <input id="txtAbbreviation" name="Abbreviation" class="mini-textbox" required="true" />
            </td>
        </tr>
        <tr>
            <td style="width:100px">所属部门：</td>
            <td colspan="3">
                <input id="tsDepID" style="width:100%" name="DepID" class="mini-treeselect" url="/System/DepTreeUsed" multiSelect="false"  valueFromSelect="false"
        textField="Name" valueField="ID" parentField="ParentID" value="control"  allowInput="false"
        showRadioButton="false" showFolderCheckBox="false"
    />
            </td>
        </tr>
        <tr>
            <td style="width:100px;">手机号码：</td>
            <td>
                <input id="txtMobilephone" name="Mobilephone" class="mini-textbox" required="true" />
            </td>
            <td style="width:100px">固定电话：</td>
            <td>
                <input id="txtTelephone" name="Telephone" class="mini-textbox" />
            </td>
        </tr>
        <tr>
            <td style="width:100px;">联系邮箱：</td>
            <td>
                <input id="txtEmail" name="Email" class="mini-textbox" required="true" />
            </td>
            <td style="width:100px">是否有效：</td>
            <td>
                <input id="txtIsUse" name="IsUse" class="mini-checkbox" text="启用" checked="true" value="1" truevalue="1" falsevalue="0" />
            </td>
        </tr>
        <tr>
            <th>拥有角色：</th>
            <td colspan="3">
                <input id="tsRoleID" style="width:100%" name="RoleIDs" class="mini-treeselect" url="/System/GetRoleTreeJson" multiselect="true" valuefromselect="false"
                       textfield="RoleName" valuefield="RoleID" parentfield="ParentID" value="control" allowinput="false"
                       showradiobutton="false" showfoldercheckbox="false" />
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center">
                <a id="btnUserAdd" class="mini-button" iconCls="icon-add" style="width:60px ;margin-right:20px;" onclick="AddUser()">添加</a>
                <a id="btnUserEdit" class="mini-button" iconcls="icon-edit" onclick="EditUser()" style="width:60px;margin-right:20px;">修改</a>
                <a id="btnSetPas" class="mini-button" iconcls="icon-filter" onclick="ResetPsw()" style="margin-right:20px;">重置密码</a>
                <a class="mini-button" iconcls="icon-close" style="width:60px;" onclick="HideWin(winUser)">取消</a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="/public/js/department.js"></script>
</body>
</html>