<!DOCTYPE html>
<html>
  <head>
    <title>{{.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/miniui/boot.js" type="text/javascript" charset="utf-8"></script>
      <script src="/public/js/common.js" type="text/javascript" charset="utf-8"></script>
      <link rel="stylesheet" type="text/css" href="/public/css/common.css">
    <style type="text/css">
        body {
            font-size: 12px;
            padding: 0;
            margin: 0;
            border: 0;
            height: 100%;
            overflow: hidden;
        }
    </style>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
